.profile-container {
    display: flex;
    justify-content: space-between;
}
.profile-setting-button, .setting-info-button {
    --box-shadow: 0px;
    margin-left: auto;
}

.profile-icon {
    margin:auto;
    width: 16rem;
    border-radius: 100%;
}
.profile-name {
    margin:auto;
    font-weight: normal;
    font-size: 2rem;
    min-height: 2.3rem;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
.preferences-form-container {
    margin-left: 3rem;
    margin-right: 3rem;
}
